[Desktop Entry]
Comment=Catbox Masala Chai
Name=CatBox Masala Chai
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Category=Global Themes (Plasma 6)
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-Name=Catbox-Masala-Chai
X-KDE-PluginInfo-Version=0.2.6
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=
